body {
    background: #151515;
    color: white;
}

.card {
    background: #0B0B0B;
    float: right;
    margin-top: 50px;
    margin-right: 235px;
    width: 50%;
    padding: 1%;
}

.photo_card img {
    position: absolute;
    right: 15px;
    height: 89%;
}

.full_name_car li, .race_city li, .price_usd_uah li, .engine_trans li, .pl_num_vin li, .date_created li {
    display: inline-block;
    font-size: 15px;
}
.description_card {

}


aside {
    background: #FFFFFF;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding: 2.4%;
    color: #151515;
}

aside img {
    width: 225px;
    position: relative;
    top: -10px;
}

aside h3 {
    margin-top: 10%;
    font-size: 44px;
}


