<div class="card">
	<div class="full_name_car">
		<ul>
			<li class="marka">{{ el.brand }}</li>
			<li class="model">{{ el.model }}</li>
			<li class="version">{{ el.version }}</li>
		</ul>
	</div>

	<div class="price_usd_uah">
		<ul>
			<li class="price_usd">{{ el.price_usd }}</li>
			<li class="price_uah">{{ el.price_uah }}</li>
		</ul>
	</div>

	<div class="race_city">
		<ul>
			<li class="race">{{ el.race }}</li>
			<li class="city">Знаходиться в {{ el.city }}</li>
		</ul>
	</div>

	<div class="engine_trans">
		<ul>
			<li class="engine_type">{{ el.engine_type }}</li>
			<li class="engine_capacity">{{ el.engine_capacity }}</li>
			<li class="transmission">{{ el.transmission }}</li>
		</ul>
	</div>

	<div class="pl_num_vin">
		<ul>
			<li class="pl_num">{{ el.plate_number }}</li>
			<li class="vin">{{ el.vin_code }}</li>
		</ul>
	</div>

	<div class="date_created">
		<ul>
			<li>{{ el.date_created }}</li>
		</ul>
	</div>

</div>
