{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'cars/css/layout.css' %}">
	{% block head %}
	{% endblock %}
</head>
<body>
	<aside>
		<img src="{% static 'cars/img/nissan_skyline.svg' %}" alt="nissan_skyline.svg">
		<div class="filter">
			<h3>Фільтрація</h3>
			<a class="home_button" href="/"><button>Головна сторінка</button></a>
			<form method="get" action="/">
				<ul>
					<! -- body_type -->
					<li>
						<select name="body_type">
							{% if request.body_type %}
								<option value="{{request.body_type}}" selected>{{request.body_type}}</option>
								{% for body in data_filter.body_type %}
									{% if body != 'Undefined value' and body != 'Не вказано' and body != request.body_type %}
										<option value="{{body}}">{{body}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Тип кузова</option>
								{% for body in data_filter.body_type %}
									{% if body != 'Undefined value' and body != 'Не вказано' %}
										<option value="{{body}}">{{body}}</option>
									{% endif %}
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- select for data_brands -->
					<li>
						<select name="brand">
							{% if request.brand %}
								<option value="{{request.brand}}" selected>{{request.brand}}</option>
								{% for brand in data_filter.brand %}
									{% if brand != 'Undefined value' and brand != 'Не вказано' and brand != request.brand %}
										<option value="{{brand}}">{{brand}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Марка</option>
								{% for brand in data_filter.brand %}
									<option value="{{brand}}">{{brand}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- select for data_models selected is Nissan-->
					<li>
						<select name="model">
							{% if request.model %}
								<option value="{{request.model}}" selected>{{request.model}}</option>
								{% for model in data_filter.model %}
									{% if model != 'Undefined value' and model != 'Не вказано' and model != request.model %}
										<option value="{{model}}">{{model}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Модель</option>
								{% for model in data_filter.model %}
									<option value="{{model}}">{{model}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- text -->
					<li>
						<select name="year">
							{% if request.year %}
								<option value="{{request.year}}" selected>{{request.year}}</option>
								{% for year in data_filter.year %}
									{% if year != 'Undefined value' and year != 'Не вказано' and year != request.year %}
										<option value="{{year}}">{{year}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Рік</option>
								{% for year in data_filter.year %}
									<option value="{{year}}">{{year}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					{% if request.price_from != '' %}
						<! -- text -->
						<li class="price_text"><input type="text" placeholder="Вартість $ від" name="price_from"
						                              value="{{request.price_from}}"></li>
					{% else %}
						<li class="price_text"><input type="text" placeholder="Вартість $ від" name="price_from"></li>
					{% endif %}
						<! -- text -->
					{% if request.price_to != '' %}
						<! -- text -->
						<li class="price_text"><input type="text" placeholder="Вартість $ до" name="price_to"
						                              value="{{request.price_to}}"></li>
					{% else %}
						<li class="price_text"><input type="text" placeholder="Вартість $ до" name="price_to"></li>
					{% endif %}
					<! -- select for data_regions -->
					<li>
						<select name="region">
							{% if request.region %}
								<option value="{{request.region}}" selected>{{request.region}}</option>
								{% for region in data_filter.region %}
									{% if region != 'Undefined value' and region != 'Не вказано' and region != request.region %}
										<option value="{{region}}">{{region}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Регіон</option>
								{% for region in data_filter.region %}
									<option value="{{region}}">{{region}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- select for data_cityes -->
					<li>
						<select name="city">
							{% if request.city %}
								<option value="{{request.city}}" selected>{{request.city}}</option>
								{% for city in data_filter.city %}
									{% if city != 'Undefined value' and city != 'Не вказано' and city != request.city %}
										<option value="{{city}}">{{city}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Місто</option>
								{% for city in data_filter.city %}
									<option value="{{city}}">{{city}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- text -->
					<li>
						<select name="engine_capacity">
							{% if request.engine_capacity %}
								<option value="{{request.engine_capacity}}" selected>{{request.engine_capacity}}</option>
								{% for engine_capacity in data_filter.engine_capacity %}
									{% if engine_capacity != 'Undefined value' and engine_capacity != 'Не вказано' and engine_capacity != request.engine_capacity %}
										<option value="{{engine_capacity}}">{{engine_capacity}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Об'єм двигуна</option>
								{% for engine_capacity in data_filter.engine_capacity %}
									<option value="{{engine_capacity}}">{{engine_capacity}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- select -->
					<li>
						<select name="engine_type">
							{% if request.engine_type %}
								<option value="{{request.engine_type}}" selected>{{request.engine_type}}</option>
								{% for engine_type in data_filter.engine_type %}
									{% if engine_type != 'Undefined value' and engine_type != 'Не вказано' and engine_type != request.engine_type %}
										<option value="{{engine_type}}">{{engine_type}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Тип палива</option>
								{% for engine_type in data_filter.engine_type %}
									<option value="{{engine_type}}">{{engine_type}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- select -->
					<li>
						<select name="transmission">
							{% if request.transmission %}
								<option value="{{request.transmission}}" selected>{{request.transmission}}</option>
								{% for transmission in data_filter.transmission %}
									{% if transmission != 'Undefined value' and transmission != 'Не вказано' and transmission != request.transmission %}
										<option value="{{transmission}}">{{transmission}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Коробка передач</option>
								{% for transmission in data_filter.transmission %}
									<option value="{{transmission}}">{{transmission}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<! -- select -->
					<li>
						<select name="drive_type">
							{% if request.drive_type %}
								<option value="{{request.drive_type}}" selected>{{request.drive_type}}</option>
								{% for drive_type in data_filter.drive_type %}
									{% if drive_type != 'Undefined value' and drive_type != 'Не вказано' and drive_type != request.drive_type %}
										<option value="{{drive_type}}">{{drive_type}}</option>
									{% endif %}
								{% endfor %}
							{% else %}
								<option value="" disabled selected>Привід</option>
								{% for drive_type in data_filter.drive_type %}
									<option value="{{drive_type}}">{{drive_type}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</li>
					<li><button class="reset" formaction type="reset">Скинути</button></li>
					<! -- button submit -->
					<li><button class="submit" type="submit">Показати</button></li>
					<! -- button reset -->

				</ul>
			</form>
		</div>
	</aside>
	<main>
		{% block content %}
		{% endblock %}
		{% if page_obj.has_other_pages %}
		<nav class="list-pages">
			<ul>
				{% for p in page_obj.paginator.page_range %}
					{% if page_obj.number == p %}
						<li class="page-num page-num-selected">{{ p }}</li>
					{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
						{% if full_path == '/' %}
							<li class="page-num">
								<a href="?page={{ p }}">{{ p }}</a>
							</li>
						{% else %}
							<li class="page-num">
								<a href="{{ full_path }}&page={{ p }}">{{ p }}</a>
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
		{% endif %}
	</main>
</body>
</html>